/* toutes les animations faites en css */
/* Animation caroussel*/
@keyframes slider {
    0%,
    20% {
      transform: translateX(0);
    }
    20%,
    40% {
      transform: translateX(-100%);
    }
    40%,
    60% {
      transform: translateX(-200%);
    }
    60%,
    80% {
      transform: translateX(-300%);
    }
    80%,
    100% {
      transform: translateX(-400%);;
    }
   } 
   /*-------------fin d'nimation caroussel-----------------*/
  
   /*------------------animation title ---------------------*/
   @keyframes color-change {
    0% {
      border-color: black,;
    }
    50% {
      border-color: red;
    }
    100% {
      border-color: black;
    }
   }
    /*------------------fin d'animation title ---------------------*/
  
    /*------------------animation arrow ---------------------*/
    @keyframes color{
      0%{
        color:rgb(127, 16, 16);
      }
      50%{
        color: rgb(158, 91, 91);
      }
      100%{
        color:rgb(242, 235, 235);
      }
     }
      /*------------------fin d'animation arrow ---------------------*/
  
      /*------------------animation arrow hover ---------------------*/
      @keyframes arrowHover{
        0%{
          transform: scale(1); /* ça permet de faire une font responsive */
        }
        50%{
          transform: scale(1.1);
        }
        100%{
          transform: scale(1);
        }
       }
        /*---- position initiales des fleches/arrow dans les boutons -----------*/
        .arrow > span:nth-child(1){
          color: rgb(127, 16, 16);
         position: absolute;
         }
         .arrow > span:nth-child(2){
          color: rgb(0, 255, 4);
          position: absolute;
         }
         .arrow > span:nth-child(3){
          color: rgb(127, 16, 16);
          position:  absolute;
         }
          /*---- fin de position initiales des fleches/arrow dans les boutons -----------*/
          /*----------positionnement de la div arrow dans les boutons-----------------*/
          .arrow{
            display: flex;
            justify-content:space-evenly;
            align-items: center;
            font-weight: calc(0.4rem + 1.5vw) ;
             width: 30px;
            height: auto;
            margin-bottom: 3px ;
            transition: all 0.5s ease-out;
          }
          /*----------fin de positionnement de la div arrow dans les boutons-----------------*/
            
           
  .section__image-text {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0.8rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.221) 0%,rgba(127, 16, 16, 0.044) 50%, rgb(122, 86, 86) 100%);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 8px 8px 0px rgb(12, 12, 12);
    transition: all 0.5s ease-out;
    &:hover{
      background-color: rgba(17, 2, 2, 0.391);
      box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
      padding-right: 20px;
    }
    > p a{
      font-size: calc(0.4rem + 1vw) ;
      font-weight: bold;
      color: rgb(156, 27, 27);

    }
  }
  
  
  
  @media  screen and (max-width: 650px) {

    
    /*stylisation de header & navbar*/
     .header{
         /* max-width: 600px; */
         margin: auto;
       background-color: rgb(242, 235, 235);

     }
     
     /* redimensionnement de logo */
     .header__nav-logo {
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: rgb(127, 16, 16);
      box-shadow: 0px 2px 0px rgba(12, 12, 12, 0.766);
      transition: all 0.5s ease-out;
      margin-left: 0.8rem;
      > a > img{
        width: 50px;
        height: 50px;
      }
      &:hover{
        background-color: rgba(17, 2, 2, 0.391);
        color: rgb(236, 229, 229);
        box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
        padding-right: 10px;
      }
    }
    
     /* stylisation de nav */
     .header__nav{
       display: flex;
       justify-content: space-between;
       align-items:center;
       height: 80px;
       box-shadow: 0 5px 5px rgb(158, 91, 91);
         
     }
         
     /* stylisation de nav-links */
     .header__nav-links{
         display: none;
         align-content: center;
         justify-content: space-around;
         align-items: flex-start;
         flex-wrap: wrap;
         flex-direction: column;
         position: absolute; 
         border: solid 1px black;
         top: 80px;
          width: 100%;
         height: 100vh;
         background-color: rgb(209, 193, 193);
         z-index: 1;
         animation: transition 0.8s ease-out;
         
         /* ajout d'une classe active pour gerer le menu burger */
         &.active{
           display: flex;
           animation: transition 0.5s ease-out;
         }
        
     }
     /* animation de nav-links */
     @keyframes transition{
       0%{
         /* transform: translate(100% , -100%); */
         transform: rotate(45deg) translate(6px, -6px) ;
       }
      }
   
      /* stylisation des liens de la nav */
     .header__nav-links a{
         font-size: calc(1rem + 1.5vw); /* ça permet de faire une font responsive */
         color: black;
         text-transform: uppercase;
         letter-spacing: 2px;
         font-weight: bold;
         background: linear-gradient(180deg, rgba(0, 0, 0, 0.221) 0%,rgba(127, 16, 16, 0.044) 50%, rgb(122, 86, 86) 100%);
          border: solid 1px rgb(0, 0, 0);
          padding: 5px;
          border-radius: 5px;
  
         &:hover{
             color: rgb(158, 91, 91);
             /* box-shadow: 0 5px 5px rgb(158, 91, 91); */
             transform: scale(1.3);
             transition: all 0.3s ease-in-out;
         }
     }
     
     /* stylisation de menu burger */
     
     .menu__burger{
         background-color: rgb(8, 7, 7);
         border-radius: 5px;
         width: 50px;
         height: 50px;
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         align-items: center;
         margin-right: 10px;
         cursor: pointer;
         &:hover{
             background-color: rgb(158, 91, 91);
             box-shadow: 0 0px 0px rgb(158, 91, 91);
             transform: scale(1.1) ;
         }
         
     }
  
     /* stylisation des 3 barres du menu burger fait en html*/
     .menu__burger-bar{
         background-color: rgb(209, 193, 193);
         width: 30px;
         height: 3px;
     }
  
     /* quand on clique sur le menu burger==> menu__burger-bar forme une croix */
  .menu__burger:active .menu__burger-bar{ 
     &:nth-child(1){
         transform: rotate(45deg) translate(6px, 6px);
         width: 100%;
       }
  
     &:nth-child(2){
         display: none;
     }
     
     &:nth-child(3){
         transform: rotate(-45deg) translate(6px, -6px);
         width: 100%;
   
     }
  }
  /* fin de stylisation de header et la navbar*/

  
  /* stylisation de main */
  
     /* stylisation de section */
  
    .main__section-presentation{
  max-width: 600px;
  margin: auto;
  padding-top: 10px;
  overflow: hidden;
  }
  .main__section-carousel {
   /* animation: slider 12s infinite ease-in-out; */
   display: flex;
   width: auto;
   animation: slider 12s infinite ease-in-out;
  
  
  }
  .main__section-carousel img{
   flex-shrink: 0;
   width: 100%;
  }
  
  
  
  /* stylisation de section presentation */
  
  .main__discreption{
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
     background-color: rgb(209, 193, 193);
     padding: 0.8rem;
  
  }
  
  .main__discreption-title{
     font-size: calc(0.4rem + 1.5vw) ;
     font-weight: bold;
     color: rgb(158, 91, 91);
     text-transform: uppercase;
     letter-spacing: 2px;
  }
  /*--------------- stylisation des sections ---------------------*/
  
  .main__section-adherer,
  .main__section-actualite,
  .main__section-evenements,
  .main__section-activites,
  .main__section-don,
  .main__section-temoignage,
  .main__section-contact
  {
   max-width: 600px;
   margin: auto;
   padding-top: 10px;
  &:hover .section__image-text {
    display: flex;
    animation: transition 0.5s ease-out;


  }
  }
  
   * section> img{
    width: 100%;
    height: 100%;
     object-fit: cover;
    border-radius: 10px;
    box-shadow: 8px 8px 0px rgb(12, 12, 12);
   }
  
  .main__section-adherer-title,
  .main__section-actualite-title,
  .main__section-evenements-title,
  .main__section-activites-title,
  .main__section-don-title,
  .main__section-temoignage-title,
  .main__section-contact-title
  {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: calc(0.4rem + 1.5vw) ;
   position: absolute;
   padding: 10px;
   margin: 10px;
   border: solid 2px rgb(127, 16, 16);
   animation: color-change 2s linear infinite;
   background-color: rgb(255 255 255 / 47%);
   border-radius: 20px;
   cursor: pointer;
   transition: all 0.5s ease-out;
   box-shadow: 8px 8px 0px rgb(12, 12, 12);
  text-transform: uppercase;
   &:hover{
     background-color: rgba(17, 2, 2, 0.391);
     color: rgb(236, 229, 229);
     box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
     padding-right: 20px;
   .arrow > span:nth-child(1){
     
     transform: translateX(-5px);
     animation: color 0.8s linear infinite;
   }
   .arrow > span:nth-child(2){
  
     transform: translateX(5px);
     animation: color 1.5s linear infinite;
    
   }
   .arrow > span:nth-child(3){
     transform: translateX(15px);
     animation: color 2s linear infinite
   }
   }
  
  }

  }

  /* fin de media screen 650px */
  
  /* Stylisation pour les écrans plus larges que 650px /tablettes */
  
  
  @media (min-width: 651px) and (max-width: 1024px) {
    .main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: rgb(209, 193, 193); */
    padding: 0.8rem;
    margin: 1rem;
    border: solid 2px rgb(127, 16, 16);
    animation: color-change 2s linear infinite;
    background-color: rgb(255 255 255 / 20%);
    border-radius: 20px;
    cursor: pointer;
  }
  
  .header__nav-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(127, 16, 16);
    box-shadow: 0px 2px 0px rgba(12, 12, 12, 0.766);
    transition: all 0.5s ease-out;
    margin-left: 0.8rem;
    > a > img{
      width: 50px;
      height: 50px;
    }
    &:hover{
      background-color: rgba(17, 2, 2, 0.391);
      color: rgb(236, 229, 229);
      box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
      padding-right: 10px;
    }
  }

     
  
  .header__nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100px;
    background-color: rgb(242, 235, 235);
    box-shadow: 0 5px 5px rgb(129, 80, 80);
    margin: 0 1rem;
    border-radius: 30px 30px 5px 5px;
  }
  .header__nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header__nav-links a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    text-transform: uppercase;
    /* font-weight: bold; */
    font-size: calc(0.4rem + 1vw) ;
    border: solid 1px rgb(0, 0, 0); 
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s ease-out;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.221) 0%,rgba(127, 16, 16, 0.044) 50%, rgb(122, 86, 86) 100%);
    &:hover{
      background-color: rgb(158, 91, 91);
      color: rgb(242, 235, 235);
      transform: scale(1.1) ;
    }
  }
  /* stylistation de la section presentation */

  .main__section-presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* width: 100%; */
    overflow: hidden;
  
  }

  .main__discreption{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0.8rem;
    border: solid 1px rgb(127, 16, 16);
    animation: color-change 2s linear infinite;
    background-color: rgb(255 255 255 / 47%);
    border-radius: 10px;
    transition: all 0.5s ease-out;
    box-shadow: 8px 8px 0px rgb(12, 12, 12);
    /* text-transform: uppercase; */
    &:hover{
      background-color: rgba(17, 2, 2, 0.391);
      color: rgb(236, 229, 229);
      box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
      padding-right: 1rem;
    }
  }
  .main__discreption-title{
    font-size: calc(0.4rem + 1vw) ;
    font-weight: bold;
    color: rgb(158, 91, 91);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  .main__section-carousel{
    display: flex;
    animation: slider 12s infinite ease-in-out;
  }

    
    
  .main__section-carousel img{
    flex-shrink: 0; /* ça permet de garder la taille de l'image */
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgb(12, 12, 12);
    &:hover{
      transform: scale(1.1);
      transition: all 3s ease-in-out;
      transform: rotate3d(1, 1, 1, 360deg);

    }
  }
 
  
  


  /* fin de stylistation de la section presentation */

  /*---------------------stylisation des sections ---------------------*/
   


.main__section-adherer,
.main__section-actualite,
.main__section-evenements,
.main__section-activites,
.main__section-don,
.main__section-temoignage,
.main__section-contact
{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  width: 50%;
  margin:auto;
  padding: 0.8rem;
  /* border: solid 3px rgb(127, 16, 16); */
  &>img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 8px 8px 0px rgb(12, 12, 12);

  }
  &:hover{
    transform: scale(1.1);

}
.main__section-adherer-title,
.main__section-actualite-title,
.main__section-evenements-title,
.main__section-activites-title,
.main__section-don-title,
.main__section-temoignage-title,
.main__section-contact-title
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.4rem + 1vw) ;
  position: absolute;
  padding: 10px;
  margin: 10px;
  border: solid 2px rgb(127, 16, 16);
  animation: color-change 2s linear infinite;
  background-color: rgb(255 255 255 / 47%);

  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  box-shadow: 8px 8px 0px rgb(12, 12, 12);
  text-transform: uppercase;
  &:hover{
    background-color: rgba(17, 2, 2, 0.391);
    color: rgb(236, 229, 229);
    box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
    padding-right: 20px;
  .arrow > span:nth-child(1){
      
      transform: translateX(-5px);
      animation: color 0.8s linear infinite;
    }
  .arrow > span:nth-child(2){

      transform: translateX(5px);
      animation: color 1.5s linear infinite;
    }
  .arrow > span:nth-child(3){
      transform: translateX(15px);
      animation: color 2s linear infinite
    }
  }
}
  }

}

/* stylisation du footer responsive pour tous les support*/
.footer {
  padding: 1rem;
  margin: 1rem;
  color: #fff;
  background-color: rgb(242, 235, 235);
  box-shadow: 0 5px 5px rgb(129, 80, 80);
  border-radius: 10px;
  border: solid 2px rgb(127, 16, 16);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}

.footer__container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(127, 16, 16);
  box-shadow: 8px 8px 0px rgb(12, 12, 12);
  transition: all 0.5s ease-out;
  > a > img{
    width: 70px;
    height: 70px;
  }
  &:hover{
    background-color: rgba(17, 2, 2, 0.391);
    color: rgb(236, 229, 229);
    box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
    padding-right: 20px;
  }
}
.footer__container-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__container-links li {
  display: flex;
  color: rgb(164, 108, 108);
  font-size: calc(0.8rem + 1vw) ;
  border: solid 1px rgb(12, 5, 5);
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.221) 0%,rgba(127, 16, 16, 0.044) 50%, rgb(122, 86, 86) 100%);
  justify-content: center;
  align-items: center;
  margin: 5px;
  transition: all 0.5s ease-out;
  &:hover{
    background-color: rgba(17, 2, 2, 0.391);
    color: rgb(236, 229, 229);
    box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
    padding-right: 20px;
  }

}

.footer__container-social li {
  display: flex;
  flex-direction: row;
  border: solid 1px rgb(12, 5, 5);
  padding: 5px;
  align-items: end;
  margin: 5px;
  transition: all 0.5s ease-out;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.221) 0%,rgba(127, 16, 16, 0.044) 50%, rgb(122, 86, 86) 100%);
  &:hover{
    background-color: rgba(17, 2, 2, 0.391);
    color: rgb(236, 229, 229);
    box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
    padding-right: 20px;
  }
}


.footer__container-legal{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.221) 0%,rgba(127, 16, 16, 0.044) 50%, rgb(122, 86, 86) 100%);
  border: solid 1px rgb(12, 5, 5);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  transition: all 0.5s ease-out;
  &:hover{
    box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
    padding-right: 20px;
  }
}
.footer__container-legal p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.4rem + 1vw) ;
  border: solid 2px rgb(12, 5, 5);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #fff;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.221) 0%,rgba(127, 16, 16, 0.044) 50%, rgb(122, 86, 86) 100%);
  transition: all 0.5s ease-out;
  &:hover{
    box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
    padding-right: 20px;
  }
}

.footer__copy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: calc(0.4rem + 1vw) ;
  border: solid 2px rgb(12, 5, 5);
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.221) 0%,rgba(127, 16, 16, 0.044) 50%, rgb(122, 86, 86) 100%);
}