@import url("./header.css");
@import url("./footer.css");
@import url("./body.css");

  
 .container-fluid{
    margin: auto;
    max-width: 1200px;   
    width: 100%; 
  }
  .row {
    height: 100%;
  }
  
  .col-md-6 {
    margin-top: 50px;
  }
  
  

  
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;

  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
  }
  textarea {
    height: 300px;
    
  }
  
  .btn-primary {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
  }
  