.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;      
    padding: 0.8rem;
    margin: 0 1rem;
    background-color: rgb(242, 235, 235);
    box-shadow: 0 5px 5px rgb(129, 80, 80);
    border-radius: 10px;
    border: solid 2px rgb(127, 16, 16);
    width: calc(100% - 2rem);
    
    }

.footer__container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
      margin: 0.7rem;
    border-radius: 50%;
    background-color: rgb(127, 16, 16);
    box-shadow: 8px 8px 0px rgb(12, 12, 12);
    transition: all 0.5s ease-out;
    > a > img{
      width: 70px;
      height: 70px;
    }
    &:hover{
      background-color: rgba(17, 2, 2, 0.391);
      color: rgb(236, 229, 229);
      box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
      padding-right: 20px;
    }
  }
  .footer__container-links{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.221) 0%,rgba(127, 16, 16, 0.044) 50%, rgb(122, 86, 86) 100%);
      border: solid 1px rgb(12, 5, 5);
      padding: 5px;
      margin: auto;
      border-radius: 5px;
      transition: all 0.5s ease-out;
      &:hover{
          box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
          padding-right: 20px;
      }
  }
  .footer__container-links ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
}
  .footer__container-links li{
    color: rgb(164, 108, 108);
    font-size: calc(0.8rem + 1vw) ;
    border: solid 1px rgb(12, 5, 5);
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 5px;
    /* background-color: #fff; */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.221) 0%,rgba(127, 16, 16, 0.044) 50%, rgb(122, 86, 86) 100%);
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-out;
    &:hover{
      background-color: rgba(17, 2, 2, 0.391);
      box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
    }
  
  }
  .footer__container-social ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.7rem;
  }
  .footer__container-social li{
    border: solid 1px rgb(12, 5, 5);
    padding: 0.3rem;
    margin: 0.3rem;
    transition: all 0.5s ease-out;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.221) 0%,rgba(127, 16, 16, 0.044) 50%, rgb(122, 86, 86) 100%);
    &:hover{
      box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
    }
  }
  
  
  .footer__container-legal{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.7rem auto ;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.221) 0%,rgba(127, 16, 16, 0.044) 50%, rgb(122, 86, 86) 100%);
    border: solid 1px rgb(12, 5, 5);
    border-radius: 5px;
    transition: all 0.5s ease-out;
    &:hover{
      box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
      /* padding-right: 20px; */
    }
  }
  .footer__container-legal p {
    font-size: calc(0.4rem + 1vw) ;
    border: solid 2px rgb(12, 5, 5);
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 5px;
    background-color: #fff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.221) 0%,rgba(127, 16, 16, 0.044) 50%, rgb(122, 86, 86) 100%);
    transition: all 0.5s ease-out;
    &:hover{
      box-shadow: 8px 8px 0px rgba(39, 25, 25, 0.643);
      padding-right: 20px;
    }
  }
  
  .footer__copy {
    color: black;
    font-size: calc(0.4rem + 1vw) ;
    border: solid 2px rgb(12, 5, 5);
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.221) 0%,rgba(127, 16, 16, 0.044) 50%, rgb(122, 86, 86) 100%);
      padding: 0 0.5rem;
      margin: auto;
  

  }
